#id_order_number {
    display: none;
}

#id_regarding_an_order:checked {
    color: #ffc0cb;
    background-color: #993F64;
    border: #993F64;
}

#id_regarding_an_order:focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.contact-form-input {
    box-sizing: border-box;
  border: 1px solid #7D696F;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.contact-form-input:focus,
.contact-form-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.form-control:focus {
    border: 1px solid #bda5ad;
}