{% extends "base.html" %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid cart-container">
    <div class="row">
        <div class="col">
            <h1>Shopping Cart</h1>
        </div>
        <hr>
    </div>
    {% if cart_items %}
    <div class="row d-flex align-items-center">
        <div class="col">
            <p>Product Info</p>
        </div>
        <div class="col">
            <p></p>
        </div>
        <div class="col">
            <p>Price</p>
        </div>
        <div class="col">
            Size
        </div>
        <div class="col">
            <p>Qty</p>
        </div>
    </div>
        {% for item in cart_items %}
        <div class="row d-flex align-items-center">
            <div class="col">
                <img class="img-fluid" src="{{ item.product.image.url }}">
            </div>
            <div class="col">
                <p>{{ item.product.name}} <br> SKU: {{ item.product.sku|upper }} </p> 
            </div>
            <div class="col">
                <p>{{ item.size }} {% if item.product.size_ring_sets %} | {{ item.size2 }} {% endif %}</p>
            </div>
            <div class="col">
                <p>${{ item.product.price }}</p>
            </div>
            <div class="col">
                <form class="form update-qty-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                    {% csrf_token %}
                    <div class="form-group w-10">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <button class="decrement btn-sm update-qty-btn" data-item-id="{{ item.item_id }}" id="decrement_{{ item.item_id }}">
                                <span>
                                    <i class="fa-solid fa-minus fa-sm"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="9" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                        <div class="input-group-append">
                            <button class="increment btn-sm update-qty-btn" data-item-id="{{ item.item_id }}" id="increment_{{ item.item_id }}">
                                <span>
                                    <i class="fa-solid fa-plus fa-sm"></i>
                                </span>
                            </button>
                            <span class="remove-cart-item" data-cart-key="{{ cart_key }}">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col">
                <p>Subtotal: ${{ subtotal|floatformat:2 }}</p>
                <p>Tax: ${{ tax|floatformat:2 }}</p>
                <p>Shipping: ${{ shipping_cost|floatformat:2 }}</p>
                <p>Total: ${{ grand_total|floatformat:2}}</p>
            </div>
        </div>
        
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}

<script type="text/javascript">

    // Update quantity on click
    $('.update-qty-btn').click(function (e) {

        var closestInput = $(this).closest('.input-group').find('.qty_input');
        var currentValue = parseInt($(closestInput).val());

        var incrementQty = $(this).hasClass('increment');
        var decrementQty = $(this).hasClass('decrement');

        if (incrementQty) {
            currentValue++;

        } else if (decrementQty) {
            currentValue--;
        }

        $(closestInput).val(currentValue);

            var form = $(this).prev('.update-qty-form');
                form.submit();
    })
    // Remove item from cart on click
    $('.remove-cart-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var cartKey = $(this).data('cart-key');
        var url = `/cart/remove/${cartKey}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });

    })
</script>
{% endblock %}
