{% extends "base.html" %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid cart-container">
    <div class="row">
        <div class="col">
            <h1>Shopping Cart</h1>
        </div>
    </div>
    {% if cart_items %}
    <div class="row d-flex align-items-center">
        <div class="col">
            <p>Product Info</p>
        </div>
        <div class="col">
            <p></p>
        </div>
        <div class="col">
            <p>Price</p>
        </div>
        <div class="col">
            <p>Qty</p>
        </div>
    </div>
        {% for item in cart_items %}
        <div class="row d-flex align-items-center">
            <div class="col-sm-3">
                <img class="img-fluid" src="{{ item.product.image.url }}">
            </div>
            <div class="col-sm-3">
                <p>{{ item.product.name}} <br> SKU: {{ item.product.sku|upper }} </p> 
            </div>
            <div class="col-sm-3">
                <p>${{ item.product.price }}</p>
            </div>
            <div class="col-sm-3">
                <p>{{ item.quantity }}</p>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col">
                <p>Subtotal: ${{ subtotal|floatformat:2 }}</p>
                <p>Tax: ${{ tax|floatformat:2 }}</p>
                <p>Shipping: ${{ shipping_cost|floatformat:2 }}</p>
                <p>Total: ${{ grand_total|floatformat:2}}</p>
            </div>
        </div>
        
    {% endif %}
</div>
{% endblock %}