{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Beautiful, high-quality wedding and engagements rings By Noveline. Made on request for you to your special day.">
    <meta name="keywords" content="by noveline, engagement rings, wedding rings, gold, silver, diamond rings">
{% endblock %}

{% block content %}
<div class="container home-banner">
    <div class="row">
        <div class="col-12">
            <h2 class="text-left banner-heading">Wedding Season</h2>
        </div>
        <div class="row">
        <div class="col-12 shop-btn-div">
            <a class="shop-btn" href="{% url 'products' %}">Shop Now</a>
        </div>
    </div>
    </div>
</div>

{% endblock %}