{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h5>Order: <strong>{{ order.order_number }}</strong></h5>
        </div>
        <hr>
        <div class="container order-info-container">
        <div class="row">
            <div class="col">
                <p>Order Number:</p>
            </div>
            <div class="col">
                <p>{{ order.order_number }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Order Date:</p>
            </div>
            <div class="col">
                <p> {{ order.order_date }}</p>
            </div>
        </div>
        {% if order.user_profile %}
        <div class="row">
            <div class="col">
                <p>User:</p>
            </div>
            <div class="col">
                <p>{{ order.user_profile }}</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <p>Full Name:</p>
            </div>
            <div class="col">
                <p>{{ order.full_name }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Email:</p>
            </div>
            <div class="col">
                <p>{{ order.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Phone Number:</p>
            </div>
            <div class="col">
                <p>{{ order.phone_number }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Street Address:</p>
            </div>
            <div class="col">
                <p>{{ order.street_address1 }}</p>
            </div>
        </div>
        {% if order.street_address2 %}
        <div class="row">
            <div class="col">
                <p>Street Address c/o:</p>
            </div>
            <div class="col">
                <p>{{ order.street_address2 }}</p>
            </div>
        </div>
        {% endif %}
        {% if order.zip_code %}
        <div class="row">
            <div class="col">
                <p>Zip Code:</p>
            </div>
            <div class="col">
                <p>{{ order.zip_code }}</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <p>Town / City:</p>
            </div>
            <div class="col">
                <p>{{ order.town_or_city }}</p>
            </div>
        </div>
        {% if order.county %}
        <div class="row">
            <div class="col">
                <p>County:</p>
            </div>
            <div class="col">
                <p>{{ order.county }}</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <p>Country:</p>
            </div>
            <div class="col">
                <p>{{ order.get_country_display }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Subtotal:</p>
            </div>
            <div class="col">
                <p>${{ order.sub_total }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Tax:</p>
            </div>
            <div class="col">
                <p>${{ order.tax }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Shipping Cost:</p>
            </div>
            <div class="col">
                <p>${{ order.shipping_cost }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Total:</p>
            </div>
            <div class="col">
                <p><strong>${{ order.grand_total }}</strong></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row order-item-info">
            <div class="col">
                <p class="mb-0"><strong>Order Items</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="mb-0"><strong>Product</strong></p>
            </div>
            <div class="col">
                <p class="mb-0"><strong>SKU</strong></p>
            </div>
            <div class="col">
                <p class="mb-0"><strong>Size</strong></p>
            </div>
            <div class="col">
                <p class="mb-0"><strong>Qty</strong></p>
            </div>
            <div class="col">
                <p class="mb-0"><strong>Price each</strong></p>
            </div>
            <hr>
        </div>
        {% for item in order.lineitems.all %}
        <div class="row">
            <div class="col">
                <p><strong>{{ item.product.name }}</strong></p>
            </div>
            <div class="col">
                <p>{{ item.product.sku|upper }}</p>
            </div>
            <div class="col">
                <p>{{ item.product_size }}</p>
            </div>
            <div class="col">
                <p>{{ item.quantity }}</p>
            </div>
            <div class="col">
                <p>{{ item.product.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endif %}
{% endblock %}