#dropdownOrderInfo {
    color: #423838;
}

.dropdown-menu.show {
    border: none;
    border-radius: 1px;
    padding: 2px;
}

#tab1-tab {
    color: #993F64;
    font-weight: 700;
}

#tab2-tab {
    color: #993F64;
    font-weight: 700;
}

#myTab {
    margin-top: 20px;
}

.order-info-container .col {
    width: 60%;
}

.order-item-info {
    background-color: #993F64;
}