/* Override default styles added from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles for rows and cols*/
.row {
    --bs-gutter-x: 0;  /* Remove horizontal gutter spacing */
    margin: 10px;
}

/* Remove header padding to set full width*/
#header {
    padding: 0px;
}

/* Navigation */
#category-nav {
    background-color: #993F64;
}

.category-link{
    color: #FFFFFF;
}

.category-link:hover {
    color: #BDA5AD;
}

.navbar-toggler{
    border: 0px;
}

.navbar-toggler:active, .navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-item {
    font-weight: bolder;
}

i {
    color: #993F64;
    font-size: 25px;
    margin-right: 9px;
}

#icon-nav {
    padding-top: 20px;
}


#search-form {
    border-color: #993F64;
}

/* Genreal body styles */

body {
    min-height: 100vh;
    background-color: #FFFFFF;
    color: #423838;
    font-family: "Poiret One", sans-serif;
    font-weight: bolder;
}

