{% load static %}
{% load crispy_forms_tags %}

<div class="container footer-container">
    <div class="row">
        <div class="col-md-5 footer-col-us">
            <h5>About Us</h5>
            <p><strong>By Noveline</strong> has for 3 generations created and shaped the symbol that binds sould
                togheter in the name of love and commitment. <br>
                All our <strong>engagement rings</strong> and <strong>wedding rings</strong> are carefully handmade on
                the request by you.
            </p>
        </div>
        <div class="col footer-col">
            <h5>Customer Service</h5>
            <a href="{% url 'contact' %}">Contact us</a> <br>
            <a href="#">FAQ</a> <br>
            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
        </div>
        <div class="col text-center footer-col" id="subscribe-div">
            <h5>Subscribe to our Newsletter!</h5>
            <form id="subscribe-form" method="post" action="{% url 'subscribe' %}">
                {% csrf_token %}
                {{ subscribe_form.email | as_crispy_field }} 
                <button type="submit" class="lock-btn subscribe-btn">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="row">
        <!-- Social Media links -->
        <hr>
        <div class="col text-center">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (opens in a new tab)"><i
                            class="fa-brands fa-square-facebook"></i></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com" target="_blank" rel="noopener"
                        aria-label="Visit our Instagram page (opens in a new tab)"><i
                            class="fa-brands fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.twitter.com" target="_blank" rel="noopener"
                        aria-label="Visit our Twitter page (opens in a new tab)"><i
                            class="fa-brands fa-x-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Copyright Information & GitHub Link -->
<div class="container-fluid footer-end-container">
    <div class="row">
        <div class="col">
            <p id="copyright"></p>
        </div>
        <div class="col d-flex justify-content-end">
            <p>Created by Sara Tisell
                <a href="https://github.com/SaraTisell/by-noveline" target="_blank"
                    aria-label="Link to Sara Tisells' Github"><i class="fa-brands fa-github"></i></a>
            </p>
        </div>
    </div>
</div>