.card {
    margin: 5%;
    border: 2px solid #993f64;
    border-radius: 0;
    box-shadow: 1px 1px #7d696f;

    
}

.card-body {
    padding: 0px 5px 10px 5px;
    font-size: 15px;

}

.add-button {
    background-color: #993f64;
    border-radius: 2px;
    border: 0px;
    font-size: 15px;
    width: 100%;
}

.add-button:hover {
    background-color: pink;
}


.product-title {
    font-family: "Alex Brush", sans-serif;

}

.form-select-sm {
    border: 1px solid #BDA5AD;
    margin-right: 10px;
    padding: 5px 10px;
}

.form-control {
    border: 1px solid #BDA5AD;
    margin-right: 10px;
    padding: 5px 10px;
}

@media (max-width: 569px) {
    .custom-product-col {
        flex: 0 0 auto;
        width: 50%;
    }

    
}


@media (min-width: 769px) {
    .product-container {
        width: 70%;
        
    }
    
    .detail-div {
        padding: 100px 10px;
    }
}