{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Thank you for contacting us at By Noveline! We will get back to you soon!">
    <meta name="keywords" content="by noveline, engagement rings, wedding rings, gold, silver, diamond rings">
{% endblock %}

{% block extra_title %}
    - Thank You!
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Thank You for your message!</h1>
            <p>We will get back to you as soon as possible</p>
        </div>
    </div>
</div>

{% endblock %}