/* Override default styles added from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles for rows and cols*/
.row {
    --bs-gutter-x: 0;  /* Remove horizontal gutter spacing */
    
}

/* Remove header padding to set full width*/
#header {
    padding: 0px;
}

.header-container {
    background-color: #FFFFFF;
}

.header-row {
    padding: 5px;
}

/* Navigation */
.navbar {
    background-color: #993F64;
}

.category-link {
    color: #FFFFFF;
    font-size: larger;
    padding: 10px 20px 0px;
}

i {
    color: #993F64;
    font-size: 25px;
    margin-right: 9px;
}

#icon-nav {
    padding-top: 20px;
}


#search-form {
    border-color: #993F64;
}

/* Offcanvas navigation for mobile*/
.offcanvas.offcanvas-end {
    background-color: rgb(255, 192, 203, 0.9);
    width: 85%;
}

.offcanvas h3 {
    color: #7D696F;
    font-family: 'Alex Brush', sans-serif;
    font-size: xx-large;
}

.mobile-nav-link {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #993F64;
    font-size: larger;
    font-weight: 600;
    color: #7D696F;

}

#search-form-mobile {
    background-color: #BDA5AD;
    border: 1px solid #993F64;
    border-radius: 4px;
    margin-top: 40px;
}

/* Genreal body styles */

body {
    min-height: 100vh;
    background-color: #FFFFFF;
    color: #423838;
    font-family: "Ysabeau Infant", sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Home page */
.home-banner {
    background-image: url('../images/bn-banner-diamond-ring.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 10px 40px;
}

.banner-heading {
    font-family: 'Alex Brush', sans-serif;
    font-weight: bolder;
    color: #7D696F;
    text-shadow: 5px 5px 6px rgb(125, 105, 111, 0.9);
    font-size: 30px;

}

.shop-btn-div {
    margin-top: 8vh;
}

.shop-btn {
    border: 2px solid #993F64;
    background-color: rgb(153, 63, 100, 0.8);
    color: #FFFFFF;
    padding: 3px 12px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 2px 2px rgb(125, 105, 111, 0.6);
    font-size: 13px;
}

.shop-btn:hover {
    background-color: #993F64;
}

/* Footer */

footer {
    background-color: #423838;
    margin-top: 20px;
    box-shadow: 0px -1px 6px #1b1a1a;
}

.footer-container {
    background-color: #423838;
    color: #FFFFFF;  
}

.footer-container a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
}

.footer-container a:hover {
    color: #ffc0cb;
}

.footer-container h5 {
    text-shadow: 5px 5px 6px #1b1a1a;
}

.footer-container i {
    color: #FFFFFF;
    text-shadow: 5px 5px 6px #1b1a1a;
}

.footer-container i:hover {
    color: #993F64;
}

.footer-col-us {

    margin-top: 40px;
    margin-right: 40px;
}

.footer-col {
    margin: 40px 30px ;
}
/* Subscribe Form */
#id_email:focus, 
#id_email:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

#id_email {
    box-sizing: border-box;
  border: 1px solid #7D696F;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}


.footer-end-container {
    background-color: #993F64;
    padding-top: 10px;
    text-shadow: 1px 1px 1px #1b1a1a;
    box-shadow: 0px -1px 9px #222121;
}

.footer-end-container i {
    color: #423838;
    font-size: 20px;
}

.copyright-text {
    color: #FFFFFF;
    text-shadow: 5px 5px 6px #1b1a1a;
}



/* Allauth forms */

.allauth-background {
    background-image: url('../images/bn-flower-banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    padding: 30px;

}
.allauth-div {
    width: fit-content;
    border: 2px solid #ffc0cb;
    padding: 10px;
    background-color: rgb(153, 63, 100, 0.7);
    color: #FFFFFF;
}

.allauth-div h1 {
    font-family: "Alex Brush", sans-serif;
}

.allauth-div a {
    color: pink;
    text-decoration: none;
    
}

.allauth-div button {
    border: 2px solid pink;
    background-color: #993F64;
    padding: 5px 10px;
    color: white;
    font-family: "Alex Brush", sans-serif;
}


/* Secure buttons */

.lock-btn {
    padding: 5px 10px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #993F64;
    border: none;
    box-shadow: 1px 1px #7D696F;
    text-shadow: 3px 3px 5px #3a3a3a;
}

.btn-lock-icon {
    color: #FFFFFF;
    font-size: medium;
}


.shop-more-link {
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 700;
    color: #993F64;
    margin-right: 10px;
    text-shadow: 1px 1px 1px #b8b8b8;
}

.shop-more-link i {
    font-size: medium;
}

/* Screen sizes */
@media (min-width: 576px) {
    .header-row {
        padding: 10px 20px;
    }
    .home-banner {
        padding: 50px 20px 150px 20px;
    }
    .banner-heading {
        font-size: 55px;
    }
    .shop-btn {
        padding: 8px 35px;
        font-size: 16px;
    }  
}
